/*===========================================================================
    Global Rules
 ===========================================================================*/
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --content-margin-top: 100px;
    --section-background: #f6f6f6;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Work Sans';
    background-color: rgba(0, 0, 0, 0.161);
}

.gap {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.parent {
    background-color: #eee;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/*===========================================================================
    Common-Heading
 ===========================================================================*/
h2.common-heading {
    text-align: center;
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -3px;
}

h2.common-heading+p {
    text-align: center;
    margin-top: -30px;
    font-size: 20px;
    color: #797979;
}

@media (max-width: 689px) {
    h2.common-heading {
        font-size: 60px;
        font-weight: 800;
    }

    h2.common-heading+p {
        margin-top: -20px;
    }
}


/*====================================================================
    Header
 =====================================================================*/

.header {
    padding: 20px;
    background-color: #fff;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 60px;
}

.header .links {
    position: relative;
}

/* Hamburger icon bars */
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.links .icon span {
    background-color: #777;
    margin-bottom: 5px;
    height: 2px;
}

.links span:first-child {
    width: 100%;
}

.links span:nth-child(2) {
    width: 60%;
}

.links span:last-child {
    width: 100%;
}

/* Dropdown Menu */
.header .links ul {
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    background-color: #f6f6f6;
    min-width: 200px;
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    padding: 0;
    margin: 0;
    z-index: 1;
}

/* Show menu on hover */
.header .links:hover ul {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* Arrow pointing to menu */
.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    top: -20px;
    right: 5px;
}

.header .links ul::after {
    content: "";
    position: absolute;
    top: -36px;
    right: 0;
    width: 100%;
    height: 36px;
    background-color: transparent;
}

.header .links ul li {
    list-style: none;
}

.header .links ul li a {
    text-decoration: none;
    display: block;
    padding: 15px;
    color: #333;
    transition: 0.3s;
}

.header .links ul li a:hover {
    padding-left: 20px;
    cursor: pointer;
}

/* Add border between list items */
ul li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}


/*====================================================================
    Landing Section
 ====================================================================*/
.landing {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
    background-attachment: fixed;
}

.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 375px;
    max-width: 100%;

}

.landing .intro-text h1 {
    color: var(--main-color);
    font-size: 50px;
    font-weight: bold;
}

.landing .intro-text p {
    font-size: 19px;
    line-height: 1.55;
}


/*====================================================================
    Features Section
 ====================================================================*/
.features {
    padding: var(--section-padding) 0;
    background-color: var(--section-background)
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.features .container .feat {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.features .container .feat i {
    color: var(--main-color);
}

.features .container .feat h3 {
    font-weight: 800;
}

.features .container .feat p {
    line-height: 1.55;
    color: #777;
    font-size: 17px;
}

@media (max-width: 330px) {
    .features .container {
        grid-template-columns: 1fr;
    }
}


@media (min-width: 650px) and (max-width: 991px) {
    .features .feat-col {
        grid-column: 1 / -1;
        width: 50%;
        margin: auto;
    }
}



/*====================================================================
    Services Section
 ====================================================================*/

.services {
    background-color: white;
    padding: var(--section-padding) 0;
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 60px;
    margin-top: var(--content-margin-top)
}

.services .col .serv {
    display: flex;
    gap: 30px;
}

.services .col>div:first-of-type {
    margin-bottom: 40px;
}

.services .col .serv i {
    color: var(--main-color);
}

.services .col .serv .text h3 {
    margin-bottom: 20px;
}

.services .col .serv .text p {
    color: #444;
    font-weight: 300;
    line-height: 1.55;
}

/* === Image === */
.services .col .image {
    width: 260px;
    height: 290px;
    position: relative;
    z-index: 1;
}

.services .col .image img {
    width: 100%;
    height: 100%;
    display: block;
}

.services .services-content .image::before {
    content: '';
    display: block;
    background-color: var(--secondary-color);
    width: 90px;
    height: calc(100% + 70px);
    position: absolute;
    right: -45px;
    top: -35px;
    z-index: -1;
}

@media (max-width: 689px) {
    .services .col .serv {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .services .col.img-col {
        grid-column: 1 / -1;
        justify-self: center;

    }

    .services .col .image {
        width: 200px;
        height: 210px;
    }

    .services .col .image::before {
        width: 70px;
        height: calc(100% + 50px);
        right: -35px;
        top: -25px;
    }
}

@media (max-width: 330px) {
    .services .services-content {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media (min-width: 689px) and (max-width: 1200px) {

    .services .col.img-col {
        grid-column: 1 / -1;
        justify-self: center;

    }

}


/*====================================================================
    Portfolio Section
 ====================================================================*/
.portfolio {
    background-color: var(--section-background);
    padding: var(--section-padding) 0;
}

.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    gap: 30px;
    margin-top: var(--content-margin-top)
}

.portfolio .portfolio-content .card {
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.11)
}

.portfolio .portfolio-content .card img {
    max-width: 100%;
}


.portfolio .card .text {
    padding: 15px;
}


.portfolio .card .text h3 {
    margin-bottom: 20px;
}

.portfolio .card .text p {
    color: #444;
    font-weight: 300;
    line-height: 1.55;
}



@media (min-width: 660px) and (max-width: 1199px) {
    .portfolio .portfolio-content .card-col {
        grid-column: 1 / -1;
        width: 50%;
        margin: auto;
    }
}



/*====================================================================
    About Section
 ====================================================================*/

.about {
    padding: var(--section-padding) 0;
    background-color: #fff;
}

.about .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--content-margin-top);
}

.about .about-content .image {
    width: 275px;
    height: 300px;
    position: relative;
    z-index: 1;
}

.about .about-content .image img {
    width: 100%;
    height: 100%;
}


.about .about-content .image::before {
    content: '';
    position: absolute;
    width: 100px;
    height: calc(100% + 60px);
    background: #ebeced;
    top: -30px;
    z-index: -1;
    left: -20px
}

.about .about-content .image::after {
    top: -30px;
    content: "";
    position: absolute;
    width: 170px;
    height: 100%;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -115px;
}

.about .about-content .text {
    flex-basis: calc(100% - 500px);
}

.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 40px;
}

.about .about-content .text hr {
    width: 40%;
    border-color: var(--main-color);
}

.about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
    margin-top: 15px;
}

@media (max-width: 991px) {
    .about .about-content {
        flex-direction: column;
        gap: 120px;
        text-align: center;
    }

    .about .about-content .text hr {
        margin: 0 auto;
    }
}

@media (max-width: 620px) {
    .about .about-content .image {
        width: 200px;
        height: 250px;

    }

    .about .about-content .image::after {
        width: 110px;
        right: -50px
    }

    .about .about-content .image::before {
        width: 80px;
        left: -15px;
    }
}


/*====================================================================
    Contact Section
 ====================================================================*/

.contact {
    padding: var(--section-padding) 0;
    background-color: var(--section-background)
}

.contact .contact-content {
    margin-top: var(--content-margin-top);
}

.contact .contact-content .info {
    text-align: center;
}

.contact .contact-content .info p {
    margin-bottom: 15px;
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
}

.contact .contact-content .info a {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;

}

.contact .contact-content .info .social {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.contact .contact-content .info .social i {
    margin-left: 10px;
    color: var(--secondary-color);
}

@media (max-width: 767px) {

    .contact .contact-content .info p,
    .contact .contact-content .info a {
        font-size: 25px;
    }
}


/*====================================================================
    Contact Section
 ====================================================================*/

.footer {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 30px 10px;
    color: #fff;
    font-size: 18px;
}

.footer span {
    font-weight: bold;
    color: var(--main-color);
}